header{
    background-color: white;
    padding: .75rem;
    border: solid 1.5px rgb(56, 137, 187);
    box box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

body{
    font-family: 'EB Garamond';
    font-size: large;
    background-color: white;
    padding: 0.5;
    margin: 1;  
    margin-top: 1.5in;
    height: 100vw;
}

nav ul{
    list-style: none;
    float: right;
    padding: .5em;
}

section div.panel {
    display: inline-block;
    
}

.panel{
    float: top;
    position: static;
    width: 200px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: transparent;    
    border: rgb(56, 137, 187) solid 3px;
    border-radius: 0.6em;
}

.container1 {
    height: .75in;
    background: linear-gradient(
    210deg,
        rgb(187, 56, 117) 25%,
        rgb(56, 137, 187) 50%,
        rgb(187, 56, 132) 100%
    );
    font-size: 14pt;
    color:white;
}

.container2 .form {
    text-align: justify;
    width: 2in;
    height:3.75in;
    margin: auto;
    padding: 3rem;
    border: solid 1px rgb(56, 137, 187);
    border-radius: 5px;
    box box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.container3 {
    text-align: center;
    height: 5.5in;
    width: 2.75in;
    padding: 0 0 3rem 0;
    display: inline-block;
    background: linear-gradient(
    210deg,
        rgb(187, 56, 117) 25%,
        rgb(56, 137, 187) 50%,
        rgb(187, 56, 132) 100%
    );
    color:white;

}

.wrapper .sidebar{
    background: rgb(56, 137, 187);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


button {
    list-style: none;
    background-color: rgb(187, 56, 117);
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 10pt;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    box-shadow: 
        0 2px 4px 0  rgb(187, 56, 117),
        0 0px 10px 0 black;
}



footer {
    text-align: center;
    margin-bottom: -25px;
}

footer ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0px;
}

footer a:visited {
    color:rgb(56, 137, 187);
    text-decoration: none;
}

footer a:hover {
    color: rgb(187, 56, 117);
    text-decoration: none;
}